## Import all the necessary libraries

In [2]:
import pandas as pd
import boto3
import json

## Load DWH Params from a file

In [3]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

## Create clients for IAM, EC2, S3 and Redshift

In [4]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

#### STEP 1: IAM ROLE
- Create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)

In [5]:
from botocore.exceptions import ClientError

try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::079639428503:role/dwhRole

#### STEP 2:  Redshift Cluster
- Create a RedShift Cluster

In [16]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

##### 2.1 *Describe* the cluster to see its status
- run this block several times until the cluster status becomes `Available`

In [24]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.ctoqg22rqc24.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0228d7b4438c860ef
7,NumberOfNodes,4

##### 2.2 Take note of the cluster <font color='red'> endpoint and role ARN </font> </h2>
- Fill the *DWH_ENDPOIN* in HOST and *DWH_ROLE_ARN* in ARN on the *dwh.cfg* file

In [25]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.ctoqg22rqc24.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::079639428503:role/dwhRole

### STEP 3: Open an incoming  TCP port to access the cluster ednpoint

In [26]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-053342703bd678898')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

### STEP 4: Make sure you can connect to the cluster

In [27]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [28]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.ctoqg22rqc24.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

### STEP 5: Running *create_tables.py* and *etl.py* and Test by Query

##### Load data table User

In [29]:
%%sql
select * from dim_User
limit 5

 * postgresql://dwhuser:***@dwhcluster.ctoqg22rqc24.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(52, 'Theodore', 'Smith', 'M', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (97, 'Kate', 'Harrell', 'F', 'paid'),
 (25, 'Jayden', 'Graves', 'M', 'paid'),
 (29, 'Jacqueline', 'Lynch', 'F', 'free')]

##### Load data table Song

In [30]:
%%sql
select * from dim_Song
limit 5

 * postgresql://dwhuser:***@dwhcluster.ctoqg22rqc24.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAGJGA12A6D4F980C', 'Love Is Gonna Bring Us Back Alive', 'ARXPE571187FB4AFD0', 1989, 291.57832),
 ('SOGVJNV12A8C132B9E', 'Salaam Mecca', 'ARK54EG1187FB4818B', 1994, 604.76036),
 ('SOXVCFD12AF72A465C', 'Market Fresh', 'ARUNAM11187B98B490', 2003, 237.29587),
 ('SOFSJPC12A6D4F7054', 'The Fallen Priest (1992 Digital Remaster)', 'AR2CXDY1187B9B4EA8', 0, 345.96526),
 ('SOZWNXJ12AC960A3AC', 'Unicorn Vs. Gravity', 'ARH39ZK1187B9ABC22', 0, 136.04526)]

##### Load data table Artist

In [31]:
%%sql
select * from dim_Artist
limit 5

 * postgresql://dwhuser:***@dwhcluster.ctoqg22rqc24.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARWI6LR1187FB46E9F', 'Richard Galliano', 'Le Cannet, France', 43.57607, 7.01815),
 ('AROJAG11187B9B71A3', 'The Chap', 'London', 51.50632, -0.12714),
 ('ART9VTZ1187FB48DDC', 'Blood_ Sweat & Tears', 'New York, NY', 40.71455, -74.00712),
 ('AR615ZF1187FB4A4B0', 'Mistah F.A.B.', 'Oakland CA', None, None),
 ('ARCUJ1T1187B997B07', 'Dietrich Wolfram - Mundharmonika - Mouth Organ', None, None, None)]

##### Load data table Time

In [32]:
%%sql
select * from dim_Time
limit 5

 * postgresql://dwhuser:***@dwhcluster.ctoqg22rqc24.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 8, 16, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 28, 54, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 2, 5, 15, 41, 796000), 5, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 19, 15, 796000), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 10, 2, 20, 796000), 10, 2, 44, 11, 2018, 5)]

##### Load data table SongPlay

In [33]:
%%sql
select * from fact_Songplay
limit 5

 * postgresql://dwhuser:***@dwhcluster.ctoqg22rqc24.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(15, datetime.datetime(9999, 6, 27, 4, 40, 39), 29, 'paid', 'SOUGLIK12A8C143DF4', 'ARFNJLY1187FB3E735', 589, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (22, datetime.datetime(9999, 6, 27, 4, 40, 39), 83, 'free', 'SOSJEEG12A6BD5571F', 'AR8RQVM1187B9A2645', 772, 'Lubbock, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (23, datetime.datetime(9999, 6, 27, 4, 40, 39), 88, 'paid', 'SONHWUN12AC468C014', 'ARJIG5P1187B98D9DE', 999, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (24, datetime.datetime(9999, 6, 27, 4, 40, 39), 88, 'paid', 'SOTNHIP12AB0183131', 'ARD46C811C8A414F3F', 744, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (27, datetime.datetime(9999, 6, 27, 4, 40, 39), 30, 'paid', 'SONZWDK12A6701F62B', 'ARL4UQB1187B9B74E3', 324, 'San Jose-Sunnyvale-Santa Clara, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0')]

### STEP 6: Clean up your resources

In [34]:
# delete cluster
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.ctoqg22rqc24.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2022, 6, 16, 15, 21, 13, 174000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-053342703bd678898',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-0228d7b4438c860ef',
  'AvailabilityZone': 'us-west-2c',
  'PreferredMaintenanceWindow': 'thu:09:00-thu:09:30',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::079639428503:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': 'f7804944-3c5e-41fd-b513-21fd808e170a',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'f7804944-3c5e-41fd-b513-21fd808e170a',
   'content-type': 'text/xml',
   'content-length': '2703',
   'vary': 'accept-encoding',
   'date': 'Thu, 16 Jun 2022 15:43:18 GMT'},
  'RetryAttempts': 0}}

In [35]:
# describe cluster
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,deleting
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.ctoqg22rqc24.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0228d7b4438c860ef
7,NumberOfNodes,4

In [ ]:
# delete role
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)